///////// Globals

$base-padding: 15px;

// Colors

$color-lightest: rgba(255,255,255,0.9);
$color-darkest: #333;
$color-light-grey: #f7f7f7;

///////// Scaffold

$color-body-background: $color-light-grey;


///////// Navigation

$horizontal-nav-height: 60px;
$vertical-nav-width: 200px;

///////// Typography

$base-font-size: 18px;
$base-line-height: 1.45;
$base-font-margin-bottom: 28px;
$base-font-weight: 400;
$base-font-color: $color-darkest;

///////// Layout

